@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Serif', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #ececec;
}