@import 'variables';

.story-card{
    text-align: center;
    border-style: none;
    border: 0px;
    display: flex;
    justify-content: center;
    color: rgba(15, 14, 14, 0.705);
}

.story-img{
    object-fit: cover;
    box-shadow: 15px 15px 10px #575757;
    display: block;
    margin-left: auto;
    margin-right: auto;
    border-radius: 15px;
    border-style: none;
}
.story-card h3 {
    font-family: "Lucida Console", Monaco, monospace;
}
.story-card h5 {
    font-family: "Lucida Console", Monaco, monospace;
}

@media screen and (max-width: $small_screen){
    .story-card{
        font-size: 14px;
    }
    .story-card h3 {
        font-size: 36px;
    }
    .story-img{
        width: 95%;
    }
}
@media screen and (min-width:$large_screen){
    .story-card{
        font-size: 18px;
    }
    .story-card h3 {
        font-size: 50px;
    }
    .story-img{
        width: 75%;
    }
}