@import 'variables';
.tech-icon{
  width: 64px;
  height: 64px;
  animation-delay: 0.3s;
  animation-duration: 1.5s;
  padding: 6px;
  transition: 3s;
}
.tech-button {
  padding: 2px 14px 8px 14px;
  background: #d2d2d2;
  margin: 12px 16px 12px 16px;
  text-align: center;
  display: inline-block;
  border-style: solid;
  border-width: 2px;
  border-radius: 14px;
  border-color: #fff;
  box-shadow: 0px 6px 5px grey;
  transition: 0.25s;
}
.tech-button:focus {
  outline: none;
}
.tech-button:hover {
  transform: translateY(-4px);
  box-shadow: 0px 10px 5px grey;
}
.tech-button:active {
  box-shadow: 0px 2px 5px grey;
  transform: translateY(8px);
}
.tech-button p{
  margin: 0;
  color: #585858;
  opacity: 0;
  transition: all 0.35s;
  font-size: 14px;
}
.tech-button:hover p {
  // color: #fff;
  opacity: 1;
}

.tech-wrapper {
  display: inline-block;
  width: 64px;
  color: #fff;
  background: transparent;
  transition: all 0.2s;
}
.tech-wrapper p {
  opacity: 0;
}
.tech-wrapper:hover p {
  opacity: 1;
}

@media screen and (min-width: $large_screen){
    .list-group-item-info{
        font-size:14px;
    }
    .list-group-item-info:hover{
        font-size: 16px;
    }
  }
  @media screen and (max-width: $small_screen){
    .list-group-item-info{
      font-size: 12px;
    }
    .list-group-item-info:hover {
        font-size: 14px;
    }
}