@import 'variables';
.tech-icon{
    width: 64px;
    height: 64px;
    animation-delay: 0.3s;
    animation-duration: 1.5s;
  }
  .tech-button {
    background: #93928e;
    margin: 0 20px 0 20px;
    text-align: center;
    display: inline-block;
    width: 96px;
    height: 96px;
    border: 2px solid #232425;
    border-radius: 12px;
    box-shadow: 0px 6px 5px grey;
    transition: 0.25s;
  }
  .tech-button:focus {
    outline: none;
  }
  .tech-button:hover {
    transform: translateY(-4px);
    box-shadow: 0px 10px 5px grey;
  }
  .tech-button:active {
    box-shadow: 0px 2px 5px grey;
    transform: translateY(8px);
  }
  .tech-button p{
    margin: 0;
    color: #fff;
  }

@media screen and (min-width: $large_screen){
    .list-group-item-info{
        font-size:14px;
    }
    .list-group-item-info:hover{
        font-size: 16px;
    }
  }
  @media screen and (max-width: $small_screen){
    .list-group-item-info{
      font-size: 12px;
    }
    .list-group-item-info:hover {
        font-size: 14px;
    }
}