/* Personal description & welcome */

@import 'variables.scss';

.welcome {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.welcome h1 {
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
  color: #fff;
}
.welcome p {
  color: #fff;
  line-height: 1.5;
}
.welcome button {
  border: 1px solid #56b8de;
  background: #56b8de;
  border-radius: 0;
  color: #fff;
}
.welcome button:hover {
  border: 1px solid #fff;
  background: #fff;
  color: #000;
}

@media screen and (min-width: $large_screen) {
  .welcome p {
    font-size: 1.3rem;
  }
  .welcome h1 {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: $small_screen) {
  .welcome p {
    font-size: 0.8rem;
  }
  .welcome h1 {
    font-size: 2rem;
  }
}
