.card {
    margin-left: 5% !important;
    margin-right: 5% !important;
    margin-top: 24px;
    background: transparent;
}
.card-group {
    margin: 30px 12px 30px 12px;
}
.card-text{
    text-align: center;
}
.story-card{
    text-align: center;
    border: none;
    display: flex;
    justify-content: center;
    color: rgba(15, 14, 14, 0.705);
}
.card-title {
    color: #fff;
    font-size: 1.5rem;
    font-weight: 700;
    margin: 20px;
    text-transform: uppercase;
    text-align: center;
}
.card-list-item {
    border: 1px #fff;
    text-transform: none;
    text-align: center;
    color: #0e354b;
    background: transparent;
}
.card-list-item:hover {
    font-size: 24px;
}

.card-list-item a {
    color: #0e354b;
    text-decoration: underline;
}

.full-size-img{
    object-fit: cover;
    box-shadow: 15px 15px 10px #575757;
}
.story-card h3 {
    font-size: 50px;
    font-family: "Lucida Console", Monaco, monospace;
}
.story-card h5 {
    font-family: "Lucida Console", Monaco, monospace;
}
  @media screen and (max-width:600px){
      .story-card{
          font-size: 14px;
      }
  }
  @media screen and (min-width:601px) and (max-width:850px){
      .story-card{
          font-size: 16px;
      }
  }
  @media screen and (min-width:851px){
      .story-card{
          font-size: 18px;
      }
  }
 