@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,800,700,300);
@import url(https://fonts.googleapis.com/css?family=Squada+One);
html {
  scroll-behavior: smooth;
  font-family: 'Source Sans Serif', sans-serif;
}

body {
  padding: 0;
  margin: 0;
  background: #ececec;
}
/*--- navigation bar ---*/
.navbar {
  background:#85d9bf;
}
.nav-link,
.navbar-brand {
  color: #fff;
  cursor: pointer;
}
.navbar-brand {
  font-weight: bolder;
}
.nav-link {
  margin-right: 1em !important;
}
.nav-link:hover {
  color: #0f344b;
}
.navbar-collapse {
  justify-content: flex-end;
}
.navbar-text{
  color: #fff;
  font-weight: lighter;
}
/*--- "Let's Begin" ---*/
.get-started-btn{
  background-color: transparent;
  font-size: 1.5em;
  color: #fff;
  border: 2px solid #fff;
  border-radius: 50px;
  padding: 3px 0;
  width: 250px;
  max-width: 100%;
  margin: 20px auto 120px auto;
  display: block;
  transition: all 0.25s;
}
.get-started-btn:hover{
  background: #85d9bf;
  color: #646464;
}

/*--- Title Page ---*/

/*--- General positioning for background picture on launch screen ---*/
.header {
  background-image: url('../images/header-background.jpg');
  background-size: cover;
  background-position: center;
  position: relative;
}

/* Styling to mute the header image */
.overlay {
  position: absolute;
  min-height: 100%;
  min-width: 100%;
  left: 0;
  top: 0;
  background: rgba(0, 6, 24, 0.6);
}

/* Personal description & welcome */
.description {
  left: 50%;
  position: absolute;
  top: 45%;
  transform: translate(-50%, -55%);
  text-align: center;
}
.description h1 {
  font-size: 50px;
  font-family: "Lucida Console", Monaco, monospace;
  color: #fff;
}
.description p {
  color: #fff;
  line-height: 1.5;
}
.description button {
  border:1px solid #56B8DE;
  background:#56B8DE;
  border-radius: 0;
  color:#fff;
}
.description button:hover {
  border:1px solid #fff;
  background:#fff;
  color:#000;
}

/* styling the blockquotes */

.blockquote {
  font-weight: 400;
  padding:80px 0px 24px 0px;
  margin: 50px;
}

.blockquote-footer{
  font-style: normal;
}

/* Shared styles for blockquotes and section headers */
.section-header, .blockquote {
  font-family:"Operator Mono", "Courier New", monospace; 
  font-style:italic;
}
/* footer styles */

.page-footer {
  background-color: #222;
  color: #ccc;
  padding: 60px 0 30px;
}
.footer-copyright{
  color: #666;
  padding: 40px 0;
}

/* adjusting our font-size values based on a couple important breakpoints in screen width */
@media screen and (min-width:601px){
  .description p{
    font-size: 1.3rem;
  }
  .list-group-item-info{
    font-size:14px;
  }
  .list-group-item-info:hover{
    font-size:16px;
  }
  .blockquote {
    font-size:26px;
  }
}
@media screen and (max-width:600px){
  .description p{
    font-size: 0.8rem;
  }
  .description h1{
    font-size: 2rem;
  }
  .list-group-item-info{
    font-size:12px;
  }
  .list-group-item-info:hover{
    font-size:14px;
  }
  .quote p{
    font-size:18px;
  }
  .values{
    font-size: 10px;
  }
  .value-title{
    font-size: 16px;
  }
}
@media screen and (max-width: 400px){
  .value-title {
    font-size: 16px;
  }
  .values {
    font-size: 10px;
  }
}
